{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div id="hero_image" class="bg-image"></div>
{% endblock %}

{% block content %}
    
    <div class="container header-container-page h-100">
        <div class="row h-100">
            <div class="col-12 col-md-8 col-sm-12 my-auto">
                <p class="display-4 text-black home-text text-justify">
                    Artsea is a place where we Create, Connect and Collaborate through Art.<br>
                    We aim to generate creative events that educate & expand the community by encouraging neighbourhood involvement into arts,
                    &nbsp;Our goal is to boost the creative community and make art truly available to everyone.
                </p> 
            </div>
            <div class="col-12 col-md-4 col-sm-12 my-auto">
                <div class="my-5">
                    <h4>
                        <a href="{% url 'workshops' %}" class="explore-button btn btn-lg rounded-0 text-uppercase py-3">Explore</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

