{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container-form">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-left mt-3">
            <br><br><br>
            <h2 class="form-title">Workshops</h2>
        </div>
    </div>
     <div class="row">
        <div class="workshop-container col-10 offset-1">
            <div class="row mt-1 mb-2">
                {{ workshops|length }} Products{% if search_term %} found for <strong> "{{ search_term }}"</strong>{% endif %}
            </div>
            <div class="row">
                {% for workshop in workshops %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if workshop.image %}
                        <!-- <div class="card" style="width: 18rem;"> -->
                            <a href="{% url 'workshop_details' workshop.id %}">
                                <img height="300" class="card-img-top " src="{{ workshop.image.url }}" alt="{{ workshop.name }}">
                            </a>
                        {% elif workshop.image_url %}
                            <a href="{% url 'workshop_details' workshop.id %}">
                                <img height="300" class="card-img-top " src="{{ workshop.image_url }}" alt="{{ workshop.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'workshop_details' workshop.id %}">
                                <img height="300" class="card-img-top" src="{{ MEDIA_URL }}No_Image.jpeg" alt="{{ workshop.name }}">
                            </a>
                        {% endif %}
                            <div class="card-body pb-0">
                                 <p class="lead mb-0 text-left font-weight-normal text-uppercase">dkk {{ workshop.price }}</p>
                                <h5 class="card-title">{{ workshop.title }}</h5>
                                {% if workshop.category_name %}
                                <p class="small mt-1 mb-0">
                                    <a class="text-muted" href="{% url 'workshops' %}?category={{ workshop.category_name }}">
                                        <i class="fas fa-tag mr-1"></i>{{ workshop.category_name.friendly_name }}
                                    </a>
                                </p>
                                {% endif %}
                            </div>
                          
                            <div class="card-body">
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'edit_workshop' workshop.id %}">Edit</a>
                                    <a class="text-danger" href="{% url 'delete_workshop' workshop.id %}">Delete</a>
                                {% endif %}
                            </div>
                        <!-- </div> -->

                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<br><br><br>
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}