<div class="collapse navbar-collapse padding-nav" id="main-nav">
<ul class="navbar-nav w-auto mx-auto">
    <li class="nav-item d-block d-md-none">
        <a class="nav-text font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
            <strong>Home</strong>
        </a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-text font-weight-bold nav-link text-black mr-5" href="#" id="all-workshop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <strong>Workshops</strong>
        </a>
        <div class="dropdown-menu border-0" aria-labelledby="all-workshop-link">
            <a href="{% url 'workshops' %}" class="dropdown-item">All</a>
            <a href="{% url 'workshops' %}?category=water_color" class="dropdown-item">Water Color</a>
            <a href="{% url 'workshops' %}?category=acrylic" class="dropdown-item ">Acrylic</a>
            <a href="{% url 'workshops' %}?category=oil_paint" class="dropdown-item ">Oil Paints</a>
            <a href="{% url 'workshops' %}?category=calligraphy" class="dropdown-item">Calligraphy</a>
            <a href="{% url 'workshops' %}?category=sketching" class="dropdown-item ">Sketching</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-text font-weight-bold nav-link text-black mr-5" href="{% url 'blog_list' %}" id="blog-link" >
            <strong>Blogs</strong>
        </a>  
    </li>
</ul>
</div>