<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-text font-weight-bold nav-link text-black mr-5" href="#" id="all-workshop-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Workshops</strong>
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-workshop-link">
                <a href="" class="dropdown-item">By Water Color</a>
                <a href="" class="dropdown-item ">Acrylic</a>
                <a href="" class="dropdown-item ">Oil Paints</a>
                <a href="" class="dropdown-item">Calligraphy</a>
                <a href="" class="dropdown-item ">Sketching and portrait</a>
                <a href="" class="dropdown-item ">City Skapes</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-text font-weight-bold nav-link text-black mr-5" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <strong>Blog<strong>
            </a>   
        </li>
    </ul>
</div>