{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container-form">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="overlay"></div> -->
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <br><br><br><br>
                <h2 class="form-title mb-4">Blogs Management</h2>
                <h5 class="text-muted">New Blog</h5>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
               
            
            </div>            
        </div>
    </div>
    <div class="overlay"></div>    
{% endblock %}