{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container-page">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="blog-title-font mb-4 text-center">
                    {{ blog.blog_title }}
               </h2>
            </div>
        </div>
  
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12">
                <p class="mb-0 text-center text-blue"> <strong>Author : {{ blog.blog_author }}</strong></p>
            </div>
        </div>
       
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 text-justify">
            
                <p class="blog-content mb-0 text-left font-weight-bold">{{ blog.blog_content }}</p>
                {% if blog.blog_content_para2 %}
                    <p class="blog-content mb-0 text-left font-weight-bold">{{ blog.blog_content_para2 }}</p>
                {% endif %}
                {% if blog.blog_content_para3 %}
                    <p class="blog-content mb-0 text-left font-weight-bold">{{ blog.blog_content_para3 }}</p>
                {% endif %}
                {% if request.user.is_superuser %}
                    <small class="ml-3">
                        <a href="">Edit</a>
                        <a class="text-danger" href="">Delete</a>
                    </small>
                {% endif %}
                <form class="form" action="{% url 'show_blog' blog.id %}" method="POST">
                   <!-- form for adding comments -->
                    <div class="form-row">
                        <div class="col-8 offset-2">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add" id="comment_{{ blog.id }}">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-8 p-5 border offset-2 bg-light">
                             User's Views : <hr>
                             {% for item in comments_on_blog.all %}
                             <div class="bg-white">
                                <div class="row mb-2">
                                    <div class="col-md-8 text-md-left">
                                         <p class="small mb-2 font-weight-bold">Posted by : {{ item.name }}</p>
                                    </div>
                                    <div class="col-md-4 text-md-right">
                                        <p class="small mb-2 font-weight-bold">On : {{ item.date }}</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-12 text-md-left">
                                        <p class="small mb-2 font-weight-bold text-muted">Comments :</p>
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-md-12 text-md-center">
                                         <p class="small mb-2 font-weight-bold">{{ item.comments }}</p>
                                    </div>
                                    
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                      
                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'blog_list' %}" class="btn btn-outline-black rounded-0 mt-5">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Go Back</span>
                            </a>
                        </div>
                        <input type="hidden" name="blog" data-item_id="{{ blog.id }}" value="{{ blog.id }}">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}
{% block postloadjs %}

<script type="text/javascript">
    $(document).ready(function() {
        $(':input[type="submit"]').prop('disabled', true);
        $('input[type="text"]').keyup(function() {
            if($(this).val() != '') {
                $(':input[type="submit"]').prop('disabled', false);
            }else
                $(':input[type="submit"]').prop('disabled', true);
        });
    });

    // // Disable +/- buttons outside 1-20 range
    // function handleEnableDisable(itemId) {
    //     var currentValue = $(`#comments`).val();
    //     if (currentValue == "") {
    //         $(`#comment_${itemId}`).prop('disabled', true);
    //     }else{
    //         $(`#comment_${itemId}`).prop('disabled', false);
    //     }
    // }

    // // Check enable/disable every time the input is changed
    // $(`#comment`).change(function() {
    //     var itemId = $(this).data('item_id');
    //     handleEnableDisable(itemId);
    // });

</script>
{% endblock %}