{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container-page">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    
    <div class="container-fluid-page">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    -- Title --
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="workshop-details-container mb-5 mt-md-5">
                    <p class="mb-0"> -- Author --</p>
                    <p class="lead mb-0 text-left font-weight-bold">-- content --</p>
                   
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="">Edit</a>
                            <a class="text_danger" href="">Delete</a>
                        </small>
                    {% endif %}
                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        <!-- form for adding comments -->
                        <div class="form-row">
                            <div class="col-12">
                                <p class="mt-3"><strong>Comments</strong></p>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <a href="" class="btn btn-outline-black rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Go Back</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                          
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
{% endblock %}