
#payment-form .form-control,
#card-element{
    color: #000;
    border: 1px solid #000;
}

select, 
select option{
    color: #000;
}

select :invalid,
select option[value=""]{
    color: #aab7c4 !Important;
}

#loading-overlay{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    background: rgba(12, 12, 12, 12);
    z-index: 9999;
}
.loading-spinner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.fieldset-label{
    position: relative;
    right: .5rem;
}